.single-job .container {
        max-width: 1210px;
}
.single-job .tf-container .row {
    margin-right: -15px;
    margin-left: -15px;
}
.single-job .btn-goback {
border: 2px solid #3357FD;
    padding: 2px 15px;
    border-radius: 64px;
    background: #fff;
    color: #3357FD;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: inline-flex;
    margin-bottom: 18px;
}

.single-job .btn-goback:hover {
    color: #FF9366;
    background: #3357FD;
}

.single-content-job-over {
    padding-top: 38px;
    padding-bottom: 47px;
}

.single-job h1.title {
    font-weight: 700;
    font-size: 47px;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    margin-bottom: 27px;
}

.single-content-job .content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.58px;
    color: #FF9366;
        margin-bottom: 10px;
}

.single-content-job .content ul {
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000;
list-style-type: disc;
}

.single-content-job .content .inner {
    margin-bottom: 20px;
}

.single-content-job {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

.single-content-job .content-left {
    width: calc(74.3% - 40px);
    margin-left: 40px;
}

.single-content-job .content-right {
    width: calc(25.7% - 40px);
    margin-left: 40px;
    position: sticky;
    top: 100px;
    margin-bottom: auto;
}

.single-content-job .information-box {
    border: 2px solid #3F217A;
    background: #3357FD;
    color: #fff;
    border-radius: 12px;
    padding: 17px 30px;
    padding-bottom: 12px;
        margin-bottom: 28px;
}

.single-content-job .information-box ul {
list-style-type: disc;
font-weight: 400;
font-size: 19px;
letter-spacing: -1px;
margin: 0;
    line-height: 25px;
}

.single-content-job .information-box h3 {
font-weight: 700;
font-size: 24px;
}

.single-content-job .content-right .btn-goback {
    border: 3px solid #3357FD;
    font-size: 24px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* filter */

#job-listing-container .inner-header-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
} 

#job-listing-container .inner-header-filter h2 {
    font-weight: 700;
    font-size: 42px;
        line-height: 1.2em;
    letter-spacing: 0.6px;
    margin: 0;
}

#job-listing-container  .filter-dropdown-wrapper select {
border: 2px solid #9EA8D5;
    border-radius: 64px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    padding: 4px 17px;
    height: unset;
    letter-spacing: 1.8px;
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='10' viewBox='0 0 17 10' fill='none'><path d='M8.44 9.53003L16.89 1.19L15.69 0L12.8 2.87006L8.44 7.18005L4.08997 2.87006L1.19995 0.0200195L0 1.20001L8.44 9.53003Z' fill='%236E6E6E'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 17px auto;

    padding-right: 30px;
        text-align: center;
}

#job-listing-container  .job-filters {
    display: flex;
    align-items: center;
    gap: 13px;
    flex-wrap: wrap;
    margin-bottom: 47px;
}

#job-listing-container  .filter-dropdown-wrapper {
    position: relative;
}

#job-listing-container .filter-dropdown-wrapper .reset-single-filter {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: rgb(219, 27, 27);
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    line-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#job-listing-container .filter-dropdown-wrapper .reset-single-filter:hover {
    background: #000;
}

.job-results-wrapper .job-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 41px;
}

.job-results-wrapper .job-card {
    border: 1px solid #777777;
    border-radius: 8px;
    padding: 33px 30px;
}

.job-results-wrapper .job-card .job-title {
font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.job-results-wrapper .job-card .job-title a {
color: #000;
}

.job-results-wrapper .job-meta {
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6E6E6E;
}

.job-results-wrapper .job-content {
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000;
}

.job-results-wrapper .job-content ul {
    list-style: disc;
}