.single-job .container {
    max-width: 1210px;
}

.single-job .tf-container .row {
    margin-right: -15px;
    margin-left: -15px;
}

.single-job .btn-goback {
    border: 2px solid #3357FD;
    padding: 2px 15px;
    border-radius: 64px;
    background: #fff;
    color: #3357FD;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: inline-flex;
    margin-bottom: 18px;
}

.single-job .btn-goback:hover {
    color: #FF9366;
    background: #3357FD;
}

.single-content-job-over {
    padding-top: 38px;
    padding-bottom: 47px;
}

.single-job h1.title {
    font-weight: 700;
    font-size: 47px;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    margin-bottom: 27px;
}

.single-content-job .content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.58px;
    color: #FF9366;
    margin-bottom: 10px;
}

.single-content-job .content ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    list-style-type: disc;
}

.single-content-job .content .inner {
    margin-bottom: 20px;
}

.single-content-job {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

.single-content-job .content-left {
    width: calc(74.3% - 40px);
    margin-left: 40px;
}

.single-content-job .content-right {
    width: calc(25.7% - 40px);
    margin-left: 40px;
    position: sticky;
    top: 100px;
    margin-bottom: auto;
}

.single-content-job .information-box {
    border: 2px solid #3F217A;
    background: #3357FD;
    color: #fff;
    border-radius: 12px;
    padding: 17px 30px;
    padding-bottom: 12px;
    margin-bottom: 28px;
}

.single-content-job .information-box ul {
    list-style-type: disc;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -1px;
    margin: 0;
    line-height: 25px;
}

.single-content-job .information-box h3 {
    font-weight: 700;
    font-size: 24px;
}

.single-content-job .content-right .btn-goback {
    border: 3px solid #3357FD;
    font-size: 24px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* filter */

#job-listing-container .inner-header-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
        flex-wrap: wrap;
    gap: 30px;
}

#job-listing-container .inner-header-filter h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    margin: 0;
}

#job-listing-container .filter-dropdown-wrapper .nice-select {
    border: 2px solid #9EA8D5;
    border-radius: 64px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    padding: 4px 17px;
    height: unset;
    letter-spacing: 1px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    text-align: center;
}

#job-listing-container .job-filters {
    display: flex;
    align-items: center;
    gap: 13px;
    flex-wrap: wrap;
    justify-content: right;
}

#job-listing-container .inner-header-filter {
    margin-bottom: 45px;
}

#job-listing-container .filter-dropdown-wrapper {
    position: relative;
}

#job-listing-container .filter-dropdown-wrapper .reset-single-filter {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: rgb(219, 27, 27);
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    line-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#job-listing-container .filter-dropdown-wrapper .reset-single-filter:hover {
    background: #000;
}

.job-results-wrapper .job-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 41px;
}

.job-results-wrapper .job-card {
    border: 1px solid #777777;
    border-radius: 8px;
    padding: 31px 30px;
    padding-bottom: 28px;
    position: relative;
    overflow: hidden;
}

.job-results-wrapper .job-card .image-list1 {
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.job-results-wrapper .job-card:hover .image-list1 {
    left: 0%;
}

.job-results-wrapper .job-card .image-list2 {
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.job-results-wrapper .job-card:hover .image-list2 {
    right: 0%;
}

.job-results-wrapper .job-card .job-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 11px;
    display: ruby;
}

.job-results-wrapper .job-card .job-title .icon {
    margin-left: -30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.job-results-wrapper .job-card:hover .job-title .icon {
    margin-left: 0px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.job-results-wrapper .job-card .job-title .icon svg path {
    fill: #FF9366;
}

.job-results-wrapper .job-card .job-title a {
    color: #000;
    transition: all 0.3s ease-in-out;
    display: inline;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-size: 0 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.job-results-wrapper .job-card:hover .job-title a {
    color: #3357FD;
    background-size: 100% 100%;
}

.job-results-wrapper .job-meta {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6E6E6E;
    margin-bottom: 10px;
    margin-top: 10px;
}

.job-results-wrapper .job-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.job-results-wrapper .job-content ul {
    list-style: disc;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-results-wrapper .tf-button {
    border: 2px solid #3357FD;
    padding: 10px 16px;
    border-radius: 64px;
    background: #fff;
    color: #3357FD;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: inline-flex;
    float: right;
    margin-top: -7px;
}

.job-results-wrapper .tf-button svg path {
    fill: #FF9366;
}

.job-results-wrapper .tf-button svg {
    width: 11px;
}

.job-results-wrapper .tf-button:hover {
    color: #FF9366;
    background: #3357FD;
}

.job-pagination-area .pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 43px;
}

.job-pagination-area .pagination-list .page-numbers {
    border: 1px solid #777777;
    width: 32px;
    height: 32px;
    font-weight: 600;
    font-size: 13px;
    color: #777777;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-pagination-area .pagination-list .page-numbers:hover,
.job-pagination-area .pagination-list .page-numbers.active {
    background: #FF9366;
    border-color: #FF9366;
    color: #fff;
}

/* job form */

/* Modal Wrapper (Popup) */
#job-application-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#job-application-modal .form-messages {
    text-align: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #424759b6;
}

.modal-content-wrapper {
    position: relative;
    background: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    max-width: 600px;
    /* Chiều rộng phù hợp với hình ảnh */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10000;
    overflow-y: auto;
    /* Cho phép cuộn nếu form dài */
    max-height: 90vh;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    line-height: 1;
    color: #333;
}

/* Form Layout */
.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group.full-width {
    flex: 0 0 100%;
}

.form-group label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.41px;
    color: #424759;
    margin-bottom: 3px;
}

.form-group input[type="number"],
.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select {
    padding: 10px;
    border: 1px solid #9EA8D5;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.48px;
    color: #000;
}

.form-group input[type="number"]::placeholder,
.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group input[type="tel"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.48px;
    color: #9EA8D5;
}

.data-protection {
    display: flex;
    gap: 10px;
}

.data-protection .inner {
    margin-top: -4px;
}

.data-protection .label-consent {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #424759;
}

.data-protection .label-consent a {
    color: #3357FD;
}

/* Data Protection Section */
.data-protection {
    margin-top: 20px;
    font-size: 0.85em;
    line-height: 1.4;
}

.data-protection label {
    font-weight: normal;
    display: inline;
}

.gdpr-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.64px;
    color: #424759;
}

.data-protection input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    flex-shrink: 0;
}

/* Submit Button */
.btn-postuler-submit {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background-color: #4169e1;
    color: #fff;
    border: none;
    border-radius: 64px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;

}

.btn-postuler-submit:hover {
    background: #111;
}

.btn-postuler-submit .arrow-icon {
    margin-left: 8px;
    font-size: 1.2em;
}

#job-application-modal #modal-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
}

.single-content-job .inner h2,
.single-content-job .inner h3,
.single-content-job .inner h4,
.single-content-job .inner h5,
.single-content-job .inner h6 {
    color: #FF9366;
}

.single-content-job .inner h2 {
    font-size: 24px;
    line-height: 30.58px;
    color: #FF9366;
    margin-bottom: 10px;
}

.single-content-job .inner li {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8px;
}

/* Responsive fixes */

@media (max-width: 991px) {
    .single-content-job {
        margin-left: 0px;
        flex-direction: column-reverse;
    }

    .single-content-job .information-box {
        padding: 20px 30px;
        padding-bottom: 20px;
    }

    .single-content-job .content-left {
        width: 100% !important;
        margin-left: 0px;
    }

    .single-content-job .content-right {
        width: 320px;
        margin-left: 0px;
        position: relative;
        top: 0px;
        margin-bottom: auto;
    }

    .single-job h1.title {
        font-size: 40px;
    }

    #job-listing-container .inner-header-filter h2 {
        font-size: 30px;
    }

    #job-listing-container .inner-header-filter {
        margin-bottom: 30px;
    }

    .job-results-wrapper .job-card {
        padding: 25px;
    }

    .job-results-wrapper .job-grid {
        gap: 25px;
    }
}

@media (max-width: 767px) {
    .single-content-job .inner li {
        font-size: 16px;
        line-height: 22px;
    }

    .single-content-job .inner h2 {
        font-size: 20px;
    }

    .single-content-job .information-box h3 {
        font-size: 20px;
    }

    .single-content-job .information-box ul {
        font-size: 16px;
    }

    .single-job h1.title {
        font-size: 30px;
    }

    #job-listing-container .inner-header-filter {
        flex-direction: column;
    }

    #job-listing-container .job-filters {
        justify-content: center;
    }

    .job-results-wrapper .job-grid {
        grid-template-columns: 1fr;
    }

    #job-application-modal {
        padding: 15px;
    }

    #job-application-modal #modal-title {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 35px;

    }
}

@media (max-width: 650px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .single-content-job .content-right {
        width: 100%;
    }
}

/* From Uiverse.io by Creatlydev */
.tf-button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 10rem;
    padding: 8px 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.9px;
}

.button__icon-wrapper {
    flex-shrink: 0;
    position: relative;
    color: #fff;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button__icon-wrapper svg {
    width: 14px;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.tf-button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.tf-button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

/* border mặc định */

/* border khi có giá trị được chọn */
.nice-select.open,
.nice-select:hover,
.nice-select.focused,
.nice-select.has-value {
   border: 2px solid #3357FD !important;
}

.nice-select.has-value .current {
   color: #3357FD !important;
}