
.tf-project-wrap .wrap-project-post .owl-carousel {
    display: flex;
    margin-right: -12px;
    margin-left: -12px;
    flex-wrap: wrap;
    width: unset;
}

.tf-project-wrap .wrap-project-post .owl-carousel .swiper-slide {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.tf-project-wrap .project-post .featured-post img {
    height: 494px;
    object-fit: cover;
}

.tf-project-wrap .project-post .project-category a {
    font-family: 'Gotham HTF';
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #000;
}

.tf-project-wrap .project-post .project-category a:hover {
    color: #31F556;
}

.tf-project-wrap .project-post .title {
    font-family: 'Gotham HTF';
font-weight: 700;
font-size: 32px;
line-height: 36px;
margin-bottom: 12px;
}

.tf-project-wrap .project-post .title a {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tf-project-wrap .project-post .description {
    font-family: 'Korela';
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #000;
}

.tf-project-wrap .project-post .featured-post {
    margin-bottom: 32px;
}

.tf-project-wrap .project-post .project-category {
    margin-bottom: 7px;
}

.tf-project-wrap .project-post {
    margin-bottom: 56px;
}

.tf-project-wrap .project-post .featured-post img {
    -webkit-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
    -khtml-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
    -moz-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
    -ms-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
    -o-transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
    transition: all 1s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.tf-project-wrap .project-post:hover .featured-post img {
    transform: scale(1.05);
}

.tf-project-wrap .project-post .featured-post a,
.tf-project-wrap .project-post .featured-post {
    overflow: hidden;
}


/* bullet */

.tf-project-wrap .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    bottom: 0px;
}

.tf-project-wrap .owl-dots button,
.tf-project-wrap .owl-dots .owl-dot {
    background-color: #E4E4E4;
    border-radius: 99px;
    width: 8px;
    height: 8px;
    line-height: 8px;
    position: relative;
    -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
    -khtml-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
    -moz-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
    -ms-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
    -o-transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
    transition: all 0.25s cubic-bezier(0, 0, 0.76, 1);
}

.tf-project-wrap .owl-dots .owl-dot::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.tf-project-wrap .owl-dots .owl-dot.active,
.tf-project-wrap .owl-dots .owl-dot:hover {
    background: #000000;
}

.tf-project-wrap .owl-dots .owl-dot.active:before,
.tf-project-wrap .owl-dots .owl-dot:hover:before,
.tf-project-wrap .owl-dots button.active:before,
.tf-project-wrap .owl-dots button:hover:before {
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    content: '';
    border: 1px solid #000;
    background: transparent;
    border-radius: 99px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* single project */

.single-project .single-feature {
    overflow: hidden;
    height: 1000px;
}

.single-project .single-feature img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.single-project .single-feature {
    position: relative;
    margin-top: -125px;
}

.single-project .single-feature .group-title {
    position: absolute;
    bottom: 70px;
    left: 72px;
    width: 600px;
    z-index: 5;
}

.single-project .single-feature .group-title .project-desc {
    font-family: 'Gotham HTF';
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #fff;
}

.single-project .single-feature {
    position: relative;
}

.single-project .single-feature::after {
    content: '';
    background: #00000033;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.single-project .single-feature .group-title .title {
    font-family: 'Gotham HTF';
font-weight: 900;
font-size: 84px;
line-height: 1.1428571428571428em;
color: #fff;
margin-bottom: 74px;
}

/* archive project */

.group-archive-project {
    padding: 100px 15px;
    max-width: 1520px;
    margin: 0 auto;
}

.single-project .tf-custom-header.tf-custom-header-bg {
    background: #000;
}


@media only screen and (max-width: 1200px) {
    .single-project .single-feature .group-title {
        bottom: 16px;
        left: 16px;
    }
    .single-project .single-feature .group-title .title {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .single-project .single-feature img {
        height: 650px;
        width: 100%;
        object-fit: cover;
    }

}

@media only screen and (max-width: 1024px) {
    .single-project .single-feature {
        margin-top: -70px;
        height: 650px;
    }
}

@media only screen and (max-width: 991px) {

.tf-project-wrap .wrap-project-post .owl-carousel {
    display: block;
    margin-left: unset;
    margin-right: unset;
}

.tf-project-wrap .wrap-project-post .owl-carousel .swiper-slide {
    width: unset;
    margin-left: unset;
}

.tf-project-wrap .wrap-project-post .owl-carousel .swiper-slide {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
    
}

@media only screen and (max-width: 767px) {
  
    .single-project .single-feature .group-title .title {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .single-project .single-feature .group-title {
        width: 100%;
        padding-right: 20px;
    }

    .tf-project-wrap .project-post .title {
        font-weight: 700;
        font-size: 20px;
    }

    .tf-project-wrap .project-post .description {
        font-size: 16px;
    }

    .tf-project-wrap .project-post .featured-post img {
        height: 255px;
    }
    
}