.single-job .container {
        max-width: 1210px;
}
.single-job .tf-container .row {
    margin-right: -15px;
    margin-left: -15px;
}
.single-job .btn-goback {
border: 2px solid #3357FD;
    padding: 2px 15px;
    border-radius: 64px;
    background: #fff;
    color: #3357FD;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: inline-flex;
    margin-bottom: 18px;
}

.single-job .btn-goback:hover {
    color: #FF9366;
    background: #3357FD;
}

.single-content-job-over {
    padding-top: 38px;
    padding-bottom: 47px;
}

.single-job h1.title {
    font-weight: 700;
    font-size: 47px;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    margin-bottom: 27px;
}

.single-content-job .content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.58px;
    color: #FF9366;
        margin-bottom: 10px;
}

.single-content-job .content ul {
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000;
list-style-type: disc;
}

.single-content-job .content .inner {
    margin-bottom: 20px;
}

.single-content-job {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
}

.single-content-job .content-left {
    width: calc(74.3% - 40px);
    margin-left: 40px;
}

.single-content-job .content-right {
    width: calc(25.7% - 40px);
    margin-left: 40px;
    position: sticky;
    top: 100px;
    margin-bottom: auto;
}

.single-content-job .information-box {
    border: 2px solid #3F217A;
    background: #3357FD;
    color: #fff;
    border-radius: 12px;
    padding: 17px 30px;
    padding-bottom: 12px;
        margin-bottom: 28px;
}

.single-content-job .information-box ul {
list-style-type: disc;
font-weight: 400;
font-size: 19px;
letter-spacing: -1px;
margin: 0;
    line-height: 25px;
}

.single-content-job .information-box h3 {
font-weight: 700;
font-size: 24px;
}

.single-content-job .content-right .btn-goback {
    border: 3px solid #3357FD;
    font-size: 24px;
    width: 100%;
    text-align: center;
    justify-content: center;
}