/* From Uiverse.io by Creatlydev */ 
.tf-button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 10rem;
    padding: 8px 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 24px;  
    letter-spacing: 1.9px;
}

.button__icon-wrapper {
  flex-shrink: 0;
  position: relative;
  color: #fff;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.button__icon-wrapper svg{
  width: 14px;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.tf-button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.tf-button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
