.tf-imagebox {
	display: grid;
	gap: 30px;
}

.tf-col-1 { grid-template-columns: repeat(1, 1fr); }
.tf-col-2 { grid-template-columns: repeat(2, 1fr); }
.tf-col-3 { grid-template-columns: repeat(3, 1fr); }
.tf-col-4 { grid-template-columns: repeat(4, 1fr); }

.tf-imagebox-item {
	text-align: left;
}

.icon-title-wrap {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    background: #7FB297;
    border-radius: 100px;
        padding: 2px 21px 2px 11px;
    margin-bottom: 4px;
}
.icon-title-wrap .tf-imagebox-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
}

.icon-title-wrap i,
.icon-title-wrap svg {
	  font-size: 21px;
    color: #FF9366;
    width: 21px;
    transition: all 0.3s ease-in-out;
}
.icon-title-wrap svg path{
    fill: #FF9366;
}

.tf-imagebox-item .desc {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 23.23px;
}

.tf-imagebox-item .image  {
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tf-imagebox-item .image img{
   -webkit-transition: all 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    transition: all 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    will-change: transform;
}
.tf-imagebox-item:hover .image img{
      transform: scale(1.1);
}
.tf-imagebox-item:hover .icon-title-wrap i,
.tf-imagebox-item:hover .icon-title-wrap svg {
    transform: translateX(4px);
}
@media (max-width: 600px) {
.tf-col-3 { grid-template-columns: repeat(1, 1fr);
     gap: 40px;
 }
 .tf-imagebox-item {
    text-align: center;
}
}