.tf-list-gallery .wrap-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}

.tf-list-gallery .wrap-gallery .item-gallery {
  width: calc(50% - 24px);
  margin-left: 24px;
  margin-bottom: 24px;
}

.tf-list-gallery .wrap-gallery .item-gallery img {
  width: 100%;
  object-fit: cover;
}

.tf-list-gallery.style1 .wrap-gallery .item-gallery.box-3 {
  width: calc(100% - 24px);
}

.tf-list-gallery.style1 .wrap-gallery .item-gallery.box-4,
.tf-list-gallery.style1 .wrap-gallery .item-gallery.box-5,
.tf-list-gallery.style1 .wrap-gallery .item-gallery.box-6 {
  width: calc(33.33333% - 24px);
}

.tf-list-gallery.style1 .wrap-gallery .item-gallery img {
  height: 522px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.tf-list-gallery.style1 .wrap-gallery .item-gallery .box-gallery {
  overflow: hidden;
}

.tf-list-gallery.style1 .wrap-gallery .item-gallery:hover img {
  transform: rotate(2deg) scale(1.1);
}

/* style 2 */

.tf-list-gallery.style2 .wrap-gallery .item-gallery {
  width: calc(50% - 16px);
  margin-left: 16px;
  margin-bottom: 16px;
}

.tf-list-gallery.style2 .wrap-gallery .item-gallery img {
  height: 550px;
  object-fit: cover;
  width: 100%;
}

.tf-list-gallery.style2 .box {
  width: calc(38% - 16px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.tf-list-gallery.style2 .box .item-gallery {
  width: 100% !important;
  margin-left: unset;
  margin-bottom: unset;
  cursor: pointer;
}

.tf-list-gallery.style2 .wrap-gallery .item-gallery.box-3 {
  width: calc(41.5% - 16px);
}

.tf-list-gallery.style2 .wrap-gallery .item-gallery.box-4 {
  width: calc(20.5% - 16px);
}

.tf-list-gallery.style2 .box .item-gallery img {
  height: 268px;
  object-fit: cover;
  width: 100%;
}

.tf-list-gallery.style2 .wrap-gallery .item-gallery.box-3 img,
.tf-list-gallery.style2 .wrap-gallery .item-gallery.box-4 img {
  height: 550px;
  object-fit: cover;
  width: 100%;
}

/* style 3 */

.tf-list-gallery.style3 .wrap-gallery .item-gallery img {
  height: 378px;
}

@media only screen and (max-width: 1024px) {
  
  .tf-list-gallery.style1 .wrap-gallery .item-gallery img {
    height: 167px;
  }
  
.tf-list-gallery.style1 .wrap-gallery .item-gallery.box-3 img {
  height: 222px;
}

  .tf-list-gallery.style1 .wrap-gallery {
    margin-left: -8px;
  }

  .tf-list-gallery.style1 .wrap-gallery .item-gallery {
    width: calc(50% - 8px);
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-3 {
    width: calc(100% - 8px);
  }
  
  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-4,
  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-5,
  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-6 {
    width: calc(33.33333% - 8px);
  }
  
}

@media only screen and (max-width: 991px) {
  

}

@media only screen and (max-width: 767px) {
  
  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-4,
  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-5 {
    width: calc(50% - 8px);
  }

  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-6 {
    width: calc(100% - 8px);
  }

  .tf-list-gallery.style1 .wrap-gallery .item-gallery.box-6 img {
    height: 222px;
  }

  .tf-list-gallery.style2 .wrap-gallery .item-gallery,
  .tf-list-gallery.style2 .wrap-gallery .item-gallery.box-4,
  .tf-list-gallery.style2 .wrap-gallery .item-gallery.box-3,
  .tf-list-gallery.style2 .box {
    width: calc(100% - 16px);
  }

  .tf-list-gallery.style2 .box .item-gallery img,
  .tf-list-gallery.style2 .wrap-gallery .item-gallery img {
    height: 223px;
  }

  .tf-list-gallery.style2 .wrap-gallery .item-gallery.box-3 img {
    height: 337px;
  }

  .tf-list-gallery.style2 .wrap-gallery .item-gallery.box-4 img {
    height: 452px;
  }

  .tf-list-gallery.style3 .wrap-gallery {
    margin-left: -8px;
  }

  .tf-list-gallery.style3 .wrap-gallery .item-gallery {
    width: calc(100% - 8px);
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .tf-list-gallery.style3 .wrap-gallery .item-gallery img {
    height: 193px;
  }

  .tf-list-gallery.style2 .wrap-gallery {
    margin-left: -16px;
  }
  
}
